name: tests
on:
  push:
    branches: ['**']
  workflow_dispatch:

jobs:
  unit-tests:
    strategy:
      matrix:
        os: ["ubuntu-latest", "windows-latest"]
        node_version: [18, 20, 22]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node_version }}
      - name: Enable pnpm
        run: corepack enable
      - name: Verify pnpm
        run: pnpm --version
      - run: pnpm install --frozen-lockfile
      - run: pnpm run build
      - run: pnpm run test
